﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide (except Bootstrap) */
input:not(.form-control),
select:not(.form-control),
textarea:not(.form-control) {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


/* Calendar Control */
td > .calendar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

:not(td) > .calendar {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.calendar-border {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    overflow-x: auto;
}

.table-inactive {
    background-color: #eee;
}

.day {
    padding: 5px;
    border-radius: 4px;
}

th.day {
    text-align: center;
}

.today {
    position: relative;
}

.today:before {
    content: '';
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #337AB7;
    border-width: 0 0 7px 7px;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.active.today:before {
    border-bottom-color: #FFF;
}
